/* ==========================================================================

// Grid File
// Grid set up using the Maze Framework www.get-maze.co.uk.

/* VARIABLES
========================================================================== */

/* Grid Defaults */
$total-grid-columns: 12!default;
$gutter: 2% !default;
$fold: left !default;
$push: 0 !default;

/* Breakpoints */
$break-wide: 1180px;
$break-desktop: 990px;
$break-tablet: 767px;
$break-mobile: 400px;

/* Calculate Min & Max Widths */

$gutter-unit:  $gutter / 1%;   /* Strip percentage from gutter */
$wrapper-gutter-percentage: ($break-wide / 100)  * $gutter-unit;   /* Work out 1% of $break-wide */

$max-width: $break-wide + $wrapper-gutter-percentage; /* Add gutter value to $max-width so that each row is equal to $break-wide */
$min-width: $break-mobile - 20px; /* Set min width with scroll bar */


/* MIXIN
========================================================================== */

@mixin grid($col-span, $fold:$fold, $push:$push, $grid-size:$total-grid-columns, $margin:$gutter) {

    @include transition;
        float:#{$fold};
        background: $orange;
        cursor: pointer;
        padding: 20px;
        width: (100% / ($grid-size / $col-span)) - $margin ;

        @if $push < 1 {
            margin-left: ($margin/2);
            margin-right: ($margin/2);
        }  
            
        @if $push > 1 {
            margin-#{$fold}: (((100%  / $grid-size) * $push) ) + ( $margin / ( $grid-size / $push) );
        } 
       
        &:hover {
            background: $brown;
            color: $white;
        }
}





