/* ==========================================================================

// Layout File
// Layout file used to create the page structure.

/* ========================================================================== */

*,
*:after,
*:before {
  @include box-size;

}

body{
	overflow-y: scroll;
}

.wrapper {
	@include clearfix;
	max-width: $max-width;
	min-width: $min-width;
	margin: 30px auto;
}

.container {
	@include clearfix;
	width: 100%;
	margin: 10px 0;
}


/* RIGHT
============================================================== */

.logo {
	@include grid(3);
	@include break(tablet, 12);
}

.search {
	@include grid(6);
	@include break(tablet, 6);
}

.social-share {
	@include grid(3);
	@include break(tablet, 6);
}

.banner {
	@include grid(12);
	@include break(tablet, 12);
}
 
.tab {
	@include grid(3);
	@include break(tablet, 6);
	@include break(mobile, 12);
}

.content {
	@include grid(6);
	@include break(tablet, 12);
}

.content-two {
	@include grid(4);
	@include break(tablet, 12);
}

.tabs {
	@include grid(3);
	@include break(tablet, 6);
}

.two {
	@include grid(2);
	@include break(tablet, 6);
}

.one {
	@include grid(1);
	@include break(mobile, 6);
}

.footer-links {
	@include grid(10);
	@include break(tablet, 12);
}

.social {
	@include grid(1);
	@include break(tablet, 6);
}


/* LEFT
============================================================== */

.right-logo {
	@include grid(3, $fold:"right");
	@include break(tablet, 12);
}

.right-search {
	@include grid(6, $fold:"right");
	@include break(tablet, 6);
}

.right-social-share {
	@include grid(3, $fold:"right");
	@include break(tablet, 6);
}

.right-banner {
	@include grid(12);
	@include break(tablet, 12);
}
 
.right-tab {
	@include grid(3, $fold:"right");
	@include break(tablet, 6);
	@include break(mobile, 12);
}

.right-content {
	@include grid(6, $fold:"right");
	@include break(tablet, 12);
}

.right-content-two {
	@include grid(4, $fold:"right");
	@include break(tablet, 12);
}

.right-tabs {
	@include grid(3, $fold:"right");
	@include break(tablet, 6);
}

.right-two {
	@include grid(2, $fold:"right");
	@include break(tablet, 6);
}

.right-one {
	@include grid(1);
	@include break(mobile, 6);
}

.right-footer-links {
	@include grid(10, $fold:"right");
	@include break(tablet, 12);
}

.right-social {
	@include grid(1, $fold:"right");
	@include break(tablet, 6);
}



/* PUSH
============================================================== */

.three {
	@include grid(3);
	@include break(mobile, 6);
}

.four {
	@include grid(4);
	@include break(mobile, 6);
}

.five {
	@include grid(5);
	@include break(mobile, 6);
}

.six {
	@include grid(6);
	@include break(mobile, 6);
}

.seven {
	@include grid(7);
	@include break(mobile, 6);
}

.eight {
	@include grid(8);
	@include break(mobile, 6);
}

.nine {
	@include grid(9);
	@include break(mobile, 6);
}

.push2 {
	@include grid(2, $push:2);
	@include break(mobile, 6);
}

.push3 {
	@include grid(2, $push:3);
	@include break(mobile, 6);
}

.push4 {
	@include grid(2, $push:4);
	@include break(mobile, 6);
}

.push5 {
	@include grid(2, $push:5);
	@include break(mobile, 6);
}

.push6 {
	@include grid(2, $push:6);
	@include break(mobile, 6);
}

.push7 {
	@include grid(2, $push:7);
	@include break(mobile, 6);
}

/* EQUAL
============================================================== */

.equal-five {
	@include grid(1, $grid-size:5);
	@include break(mobile, 12);
}

.equal-seven {
	@include grid(1, $grid-size:7);
	@include break(tablet, 12);
}

.four-eight {
	@include grid(4, $grid-size:8);
	@include break(mobile, 12);
}

.equal-eight {
	@include grid(1, $grid-size:8);
	@include break(mobile, 6);
}

.equal-nine {
	@include grid(1, $grid-size:9);
	@include break(tablet, 12);
}


/* MARGIN
============================================================== */

.margin-content-two {
	@include grid(4, $margin: 15%);
	@include break(mobile, 12);
}

.margin-tabs {
	@include grid(3, $margin: 5%);
	@include break(mobile, 12);
}






