/* ==========================================================================

// Base File
// Set up all global variables and naming conventions.

    

/* COLOR DEFAULTS
========================================================================== */

/* Colours -  Defined only once */
$orange: #ffa600;
$blue:#82d2e5;
$green:#c1d72e;
$white: #fff;
$brown: #312a1e;
$grey:#f3f3f3;




/* Mark-up - selectors used throughout site. */
$base-color:$orange ;



