/* Variabes */  
$orange: #ffa600;
$blue:#82d2e5;
$green:#c1d72e;
$white: #fff;
$brown: #312a1e;
$base-color:$orange ;



@mixin clear {
overflow: hidden;
position: relative;
}
 @mixin box-size {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
*behavior: url(boxsizing.htc);
}
 @mixin transition {
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
@mixin fade {
-moz-transition: all 1s ease-in;
-moz-transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
}
@mixin opacity {
opacity:0.4;
filter:alpha(opacity=40); 
include: fade;
}
@mixin buttons ($color, $hover) {
background: $color;
padding: 0 25px;
@include fade;
color:$brown;
text-decoration:none;
display:block;
text-align:center;
&:hover {
background:$hover;
color:$white;	
}
}
