/* Media Queries    */
$break-large: 767px;
$break-small: 480px;


@mixin break($media, $width) {
	@if $media == tablet {
	@media only screen and (max-width: $break-large) {
	width:$width - $gutter;
	margin-left:0;
	margin: $gutter / 2;	
	}
}
	@else if $media == mobile {
	@media only screen and (max-width: $break-small) {
	width:$width - $gutter;
	margin: $gutter / 2;	
	}
}

}







