/* Main theme styles go here */

body {
background:#f3f3f3;
font-family: 'Ariel', sans-serif;
text-align:center;	
color:#4f5357;
}

.container{color:#fff;}


h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 2.6em;
  text-transform: uppercase;
}


