/* ==========================================================================

// Main Content  File 
// Website theme styles.

/* ========================================================================== */

body {
	background:$grey;
	font-family: 'Ariel', sans-serif;
	text-align:center;	
	col-spanor:$brown;
}

.container{
	color:$white;
}


h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 2.6em;
  text-transform: uppercase;
  margin-bottom: 5px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 1.2em;
  margin-top:0;
}

